﻿@using CNPM_DoAn_WebQuanLyKhachSan.Models.ViewModel
@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	var roomTypes = ViewBag.roomTypes;
}
@model RoomTypeVM

<div class="main-container d-flex">
	<!-- Nội dung bên trái -->
	<div class="left-panel col-8 pl-0 pr-0">
		<div class="content container-fluid">
			<div class="page-header">
				<div class="row align-items-center">
					<div class="col">
						<div class="">
							<h4 class="card-title float-left mt-2" style="font-size: 24px">Tất cả loại phòng</h4> 
							<a class="btn btn-primary float-right veiwbutton" id="roomType-create">Thêm loại phòng</a>
						</div>
					</div>
				</div>
				<div class="row align-items-center" style="margin-top: 20px;">
					<div class="col">
						<form style="position: relative">
							<input type="text" class="form-control" placeholder="Search here">
							<button class="btn" type="submit" style="position: absolute; top: 0; right: 0"><i class="fas fa-search"></i></button>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="card card-table">
						<div class="card-body booking_card">
							<div class="table-responsive">
								<table class="datatable table table-stripped table table-hover table-center mb-0">
									<thead>
										<tr>
											<th style="width: 1%">Mã</th>
											<th style="width: 20%">Tên Loại Phòng</th>
											<th style="width: 10%">Giá</th>
											<th style="width: 10%">Số Lượng</th>
											<th style="width: 20%">Hình ảnh</th>
											<th style="width: 39%">Chức năng</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var item in roomTypes)
										{
											<tr>
												<td>@item.RoomTypeId</td>
												<td>@item.Name</td>
												<td>@item.Price</td>
												<td>@item.BedNumber</td>
												<td>
													<img src="/images/@item.Image" style="width: 100%">
												</td>
												<td>
													<a data-room-type-id="@item.RoomTypeId" class="btn btn-primary btn-sm roomType-details">
														<i class="fas fa-pencil-alt"></i>
														Chi Tiết
													</a>

													<a data-room-type-id="@item.RoomTypeId" class="btn btn-info btn-sm roomType-edit">
														<i class="fas fa-pencil-alt"></i>
														Chỉnh sửa
													</a>

													<a data-room-type-id="@item.RoomTypeId" class="btn btn-danger btn-sm roomType-delete"  >

														<i class="fas fa-pencil-alt"></i>
														Xóa
													</a>
												</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Nội dung bên phải -->
	<div class="right-panel col-4 pl-0 pr-0">

	</div>
	
</div>

<script src="~/js/room-type.js"></script>